@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{
    --font-main: 'Michroma', sans-serif;
    --font-support: 'Raleway', sans-serif;
    --text-color-main: rgb(240, 240, 240);
    --text-color-suppotr: rgba(240, 240, 240, 0.7);
    /* f0f0f0 */
    --ironman-color: rgb(249, 32, 49);
    /* #f92031*/
    --thor-color: rgb(117, 0, 35);
    /* #ab0033 */
    --star-lord-color-1: rgb(228, 94, 49);
    /* #e45e31 */
    --star-lord-color-2: rgb(124, 47, 189);
    /* #7c2fbd */
    --spider-man-color: rgb(249, 15, 40);
    /* #f90f28 */
    --hulk-color: rgb(14, 188, 29);
    /* #0ebc1d */
    --captain-america-color: rgb(36, 86, 178);
    /* #2456b2 */
    --widow-black-color: rgb(216, 169, 18);
    /* #d8a912 */
    --hawkeye-color: rgb(99, 17, 108);
    /* #63116c */
    --captain-marvel-color:rgb(127, 13, 2);
    /* #7f0d02 */
    --ant-man-color:rgb(98, 107, 124);
    /* #626b7c */
    --loki-color:rgb(38, 166, 47);
    /* #26a62f */
    --wanda-color: rgb(252, 9, 41);
    /* #fc0929 */
    --vision-color:rgb(58, 20, 31);
    /* #3a141f */
    --panther-black-color:rgb(24, 24, 24);
    /* #181818 */
    --doctor-strange-color:rgb(255, 10, 56);
    /* #ff0a38 */
    --wasp-color:rgb(200, 180, 66);
    /* #c8b442 */
    --shang-chi-color:rgb(53, 7, 7);
    /* #350707 */
    --groot-color:rgb(124, 225, 69);
    /* #7ce145 */
    --rocket-color:rgb(130, 100, 50);
    /* #463e31 */
    --gamora-colot:rgb(58, 87, 88);
    /* #3a5758 */
    --drax-color:rgb(86, 51, 54);
    /* #563336 */
    --nebula-color:rgb(140, 220, 225);
    /* #aaf8ff */
    --bucky-barnes-color:rgb(181, 189, 192);
    /* #b5bdc0 */
    --falcon-color:rgb(78, 102, 162);
    /* #4e66a2 */
    --war-machine-color:rgb(33, 33, 33);
    /* #212121 */
    --wong-color:rgb(220, 67, 49);
    /* #dc4331 */
    --mysterio-color:rgb(46, 98, 62);
    /* #2e623e */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: var(--text-color-main);
    background-image: url(bg/bg/ironman-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* start nav menu */

/* start nav menu */

.menu{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem 14rem;
    border-bottom: 1px solid var(--text-color-suppotr);
}

.menu-logo{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 10px 15px;
}

.menu-container img{
    width: 30px;
}

.menu-container-1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-container-2{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 18px 15px;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    font-family: var(--font-main);
}

/* end  nav menu */

main{
    display: grid;
    grid-template-columns: 62px 1102px 114px;
    justify-content: center;
    padding: 68px;
}

/* start nav social */

.socail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 16px;
    gap: 1rem; 
    position: fixed;
    z-index: 1;
}

/* end nav social */
/* galeria strat */

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.photo{
    border: 2px solid var(--text-color-suppotr);
    margin: 8px;
}

.photo img{
    width: 100%;
}

.photo:hover::after{
    content: attr(data-title);
    font-family: var(--font-main);
    color: var(--ironman-color);
    font-size: 14px; 
    padding: 5px 10px; 
    text-align: center;
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: grid;
    grid-template-columns: 950px auto;
    justify-content: center;
    /* align-items: center; */
    background-clip: padding-box;
}

/* Стили кнопки "х" ("Закрыть")  */
.close {
    font-family: var(--font-main);
    font-size: 40px;
    font-weight: 700;
    color: var(--ironman-color);
    text-decoration: none;
    border: 3px solid var(--text-color-main);
    background-color: var(--text-color-suppotr);
    padding: 3px 12px;
    border-radius: 5px;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: var(--ironman-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
    margin-top: 70px;
}
/* Стили блока основного содержимого окна */
.modal-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 15px;
    margin-top: 70px;
    overflow: auto;
}

.modal-body img{
    border: 10px solid var(--text-color-main);
    width: 900px;
    max-height: 600px;

}

/* galeria end */
/* scroll-iron start */

.scroll-iron-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-iron-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    border-bottom: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-iron-man-1{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-iron-man-1:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-iron-man-2{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-iron-man-2:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-iron-man-3{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-iron-man-3:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-iron-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-iron-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* scroll-iron end */
/* scroll thor start */

.scroll-thor{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-thor a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    border-bottom: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-thor-1{
    background-color: rgba(117, 0, 35, 0.5);
}

.scroll-thor-1:hover{
    background-color: var(--thor-color);
    transition: 0.8s;
}

.scroll-thor-2{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,0.7) 12%, rgba(2,22,47,0.7) 93%);
}

.scroll-thor-2:hover{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,1) 12%, rgba(2,22,47,1) 93%);
    transition: 0.8s;
}

.scroll-thor-3{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,0.7) 16%, rgba(5,34,60,0.7) 69%);
}

.scroll-thor-3:hover{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,1) 16%, rgba(5,34,60,1) 69%);
    transition: 0.8s;
}

.scroll-thor-4{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,0.7) 34%, rgba(0,21,31,0.7) 81%);
}

.scroll-thorn-4:hover{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,1) 34%, rgba(0,21,31,1) 81%);
    transition: 0.8s;
}

/* scroll thor end */