@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{
    --font-main: 'Michroma', sans-serif;
    --font-support: 'Raleway', sans-serif;
    --text-color-main: rgb(240, 240, 240);
    --text-color-suppotr: rgba(240, 240, 240, 0.7);
    /* f0f0f0 */
    --ironman-color: rgb(249, 32, 49);
    /* #f92031*/
    --thor-color: rgb(117, 0, 35);
    /* #ab0033 */
    --spider-man-color: rgb(249, 15, 40);
    /* #f90f28 */
    --captain-marvel-color:rgb(127, 13, 2);
    /* #7f0d02 */
    --hulk-color: rgb(14, 188, 29);
    /* #0ebc1d */
    --star-lord-color-1: rgb(228, 94, 49);
    /* #e45e31 */
    --star-lord-color-2: rgb(124, 47, 189);
    /* #7c2fbd */
    --captain-america-color: rgb(36, 86, 178);
    /* #2456b2 */
    --widow-black-color: rgb(216, 169, 18);
    /* #d8a912 */
    --hawkeye-color: rgb(99, 17, 108);
    /* #63116c */
    --ant-man-color:rgb(98, 107, 124);
    /* #626b7c */
    --loki-color:rgb(38, 166, 47);
    /* #26a62f */
    --wanda-color: rgb(252, 9, 41);
    /* #fc0929 */
    --vision-color:rgb(58, 20, 31);
    /* #3a141f */
    --panther-black-color:rgb(24, 24, 24);
    /* #181818 */
    --doctor-strange-color:rgb(255, 10, 56);
    /* #ff0a38 */
    --wasp-color:rgb(200, 180, 66);
    /* #c8b442 */
    --shang-chi-color:rgb(53, 7, 7);
    /* #350707 */
    --groot-color:rgb(124, 225, 69);
    /* #7ce145 */
    --rocket-color:rgb(130, 100, 50);
    /* #463e31 */
    --gamora-colot:rgb(58, 87, 88);
    /* #3a5758 */
    --drax-color:rgb(86, 51, 54);
    /* #563336 */
    --mantis-color:rgb(120, 153, 75);
    /* #78994b */
    --nebula-color:rgb(140, 220, 225);
    /* #aaf8ff */
    --bucky-barnes-color:rgb(181, 189, 192);
    /* #b5bdc0 */
    --falcon-color:rgb(78, 102, 162);
    /* #4e66a2 */
    --war-machine-color:rgb(33, 33, 33);
    /* #212121 */
    --wong-color:rgb(220, 67, 49);
    /* #dc4331 */
    --mysterio-color:rgb(46, 98, 62);
    /* #2e623e */
    --otto-octavius-color:rgb(55, 140, 72);
    /* #378c48 */
    --green-goblin-color:rgb(40, 54, 36);
    /* #283624 */
    --hela-color:rgb(35, 40, 39);
    /* #232827 */
    --mighty-thor-color:rgb(217, 220, 227);
    /* #d9dce3 */
    --odin-color:rgb(243, 231, 194);
    /* #f3e7c2 */
    --thanos-color:rgb(106, 61, 100);
    /* #6a3d64 */
    --valkyrie-color:rgb(155, 167, 161);
    /* #9ba7a1 */
    --daredevil-color:rgb(60, 39, 56);
    /* #3c2738 */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: var(--text-color-main);
    background-image: url(bg/bg/history-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* start nav menu */

.menu{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem 14rem;
    border-bottom: 1px solid var(--text-color-suppotr);
}

.menu-logo{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 10px 15px;
}

.menu-container img{
    width: 30px;
}

.menu-container-1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-container-2{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 18px 15px;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
}

/* end  nav menu */

main{
    display: grid;
    grid-template-columns: 62px 1100px 114px;
    justify-content: center;
    padding: 68px;
}

/* start nav social */

.socail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 1rem; 
}

/* end nav social */


/* history start */
/* card-1 start */

.card-1{
    display: grid;
    grid-template-columns: 700px auto;
}

.container{
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    color: var(--text-color-main);
    font-family: var(--font-main);
}

.container h3{
    text-align: center;
    font-size: 18px;
}

.container h4{
    text-align: center;
    font-size: 12px;
}

.img{
    text-align: center;
    padding: 5px 0;
}

.container h5{
    font-size: 12px;
}

/* !!!!!!!!!!!!!!!!!! */

.container h5 a{
    text-decoration: none;
    color: var(--ironman-color);
}

.container h5 .thor-a {
    text-decoration: none;
    color: var(--thor-color); 
}

.container h5 .spider-a {
    text-decoration: none;
    color: var(--spider-man-color); 
}

/* !!!!!!!!!!!!!!!!!! */

.container h6{
    font-size: 14px;
    color: var(--ironman-color);
    border-top: 1px  solid var(--text-color-suppotr);
    background-color: var(--text-color-suppotr);
    text-align: center;
    padding: 3px 0;
}

.container .thor-h6{
    font-size: 14px;
    color: var(--thor-color);
    border-top: 1px  solid var(--text-color-suppotr);
    background-color: var(--text-color-suppotr);
    text-align: center;
    padding: 3px 0;
}

.container .spider-h6{
    font-size: 14px;
    color: var(--spider-man-color);
    border-top: 1px  solid var(--text-color-suppotr);
    background-color: var(--text-color-suppotr);
    text-align: center;
    padding: 3px 0;
}

/* !!!!!!!!!!!!!!!!!! */

.container th{
    width: 140px;
    font-size: 14px;
    text-align: start;
    border-top: 1px  solid var(--text-color-suppotr);
    border-bottom: 1px  solid var(--text-color-suppotr);
}

.container td{
    font-size: 14px;
    text-align: start;
    border-top: 1px  solid var(--text-color-suppotr);
    border-bottom: 1px  solid var(--text-color-suppotr);
}

.container li{
    list-style: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */

.container a{
    text-decoration: none;
    color: var(--ironman-color);
}

.container .thor-a{
    text-decoration: none;
    color: var(--thor-color);
}

.container .spider-a{
    text-decoration: none;
    color: var(--thor-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */

.flag{
    width: 26px;
}

.info h1{
    font-family: var(--font-main);
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.info p{
    font-family: var(--font-support);
    font-size: 20px;
    padding-bottom: 16px;
    padding-right: 10px;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */

.info a{
    text-decoration: none;
    color: var(--ironman-color);
}

.info .thor-a{
    text-decoration: none;
    color: var(--thor-color);
}

.info .spider-a{
    text-decoration: none;
    color: var(--spider-man-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.quotes-1{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px;
    padding: 10px;
    margin-top: 40px;
}

.quotes-1 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-1 img{
    width: 320px;
}

.quotes-p-2{
    text-align: right;
}

.quotes-2{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px;
    padding: 10px;
}

.quotes-2 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-2 img{
    width: 320px;
}

.quotes-3{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px 8px 0 8px; 
    padding: 10px;
}

.quotes-3 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-p-3{
    text-align: right;
}

.quotes-3 img{
    width: 320px;
    padding-top: 30px;
}

/* card-1 end */
/* card-2 start */

.biography h2{
    font-family: var(--font-main);
    font-size: 28px;
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.biography h3{
    font-family: var(--font-main);
    font-size: 24px;
    text-align: start;
    padding: 0 10px 10px 30px;
}

.biography p{
    font-family: var(--font-support);
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
    padding-left: 5px;
}

/* !!!!!!!!!!!!!!!!!!!!! */

.biography p a{
    text-decoration: none;
    color: var(--ironman-color);
}

.biography p .thor-a{
    text-decoration: none;
    color: var(--thor-color);
}

.biography p .spider-a{
    text-decoration: none;
    color: var(--thor-color);
}

/* !!!!!!!!!!!!!!!!!!!!! */

.fans-card p{
    font-family: var(--font-support);
    font-size: 20px;
}

.fans-card img{
    width: 300px;
}

.fans-img-1{
    width: 314px;
    float: left;
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    margin-right: 10px;
}

.fans-img-1 h6{
    font-size: 12px;
    font-family: var(--font-main);
    padding-top: 5px;
}

.fans-img-2{
    width: 314px;
    float: right;
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    margin-left: 10px;
}

.fans-img-2 h6{
    font-size: 12px;
    font-family: var(--font-main);
    padding-top: 5px;
}

/* 4 злодея */

.fans-card-2 p{
    font-family: var(--font-support);
    font-size: 20px;
}

.fans-card-2 img{
    width: 200px;  
}

.fans-img-3{
    width: 214px;
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    margin-right: 10px;
}

.fans-img-3 h6{
    font-size: 12px;
    font-family: var(--font-main);
    padding-top: 5px;
}

.fans-flex-1{
    display: flex;
    flex-direction: column;
    float: left;
}

.fans-img-4{
    width: 214px;
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    margin-left: 10px;
}

.fans-img-4 h6{
    font-size: 12px;
    font-family: var(--font-main);
    padding-top: 5px;
}

.fans-flex-2{
    display: flex;
    flex-direction: column;
    float: right;
}

/* card-2 end */
/* history eng */


/* scroll-iron start */

.scroll-iron-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-iron-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    border-bottom: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-iron-man-1{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-iron-man-1:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-iron-man-2{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-iron-man-2:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-iron-man-3{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-iron-man-3:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-iron-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-iron-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* scroll-iron end */
/* scroll thor start */

.scroll-thor{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-thor a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    border-bottom: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-thor-1{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,0.7) 12%, rgba(2,22,47,0.7) 93%);
}

.scroll-thor-1:hover{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,1) 12%, rgba(2,22,47,1) 93%);
    transition: 0.8s;
}

.scroll-thor-2{
    background-color: rgba(117, 0, 35, 0.5);
}

.scroll-thor-2:hover{
    background-color: var(--thor-color);
    transition: 0.8s;
}

.scroll-thor-3{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,0.7) 16%, rgba(5,34,60,0.7) 69%);
}

.scroll-thor-3:hover{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,1) 16%, rgba(5,34,60,1) 69%);
    transition: 0.8s;
}

.scroll-thor-4{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,0.7) 34%, rgba(0,21,31,0.7) 81%);
}

.scroll-thorn-4:hover{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,1) 34%, rgba(0,21,31,1) 81%);
    transition: 0.8s;
}

/* scroll thor end */
/* scroll spider man start */

.scroll-spider-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-spider-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-spider-man-1{
    background-color: rgba(249, 15, 40, 0.5);
}

.scroll-spider-man-1:hover{
    background-color: var(--spider-man-color);
    transition: 0.8s;
}

.scroll-spider-man-2{
    background: radial-gradient(circle, rgba(244, 108, 111, 0.7) 47%, rgba(119, 39, 41, 0.6) 83%);
}

.scroll-spider-man-2:hover{
    background: radial-gradient(circle, rgba(244, 108, 111, 1) 47%, rgba(119, 39, 41, 1) 83%);
    transition: 0.8s;
}

.scroll-spider-man-3{
    background: radial-gradient(circle, rgba(205, 89, 89, 0.8) 36%, rgba(149, 39, 41, 0.8) 89%);
}

.scroll-spider-man-3:hover{
    background: radial-gradient(circle, rgba(205, 89, 89, 1) 36%, rgba(149, 39, 41, 1) 89%);
    transition: 0.8s;
}

.scroll-spider-man-4{
    background: radial-gradient(circle, rgba(167, 84, 82, 0.6) 27%, rgba(149, 50, 49, 0.8) 96%);
}

.scroll-spider-man-4:hover{
    background: radial-gradient(circle, rgba(167, 84, 82, 1) 27%, rgba(149, 50, 49, 1) 96%);
    transition: 0.8s;
}
/* end spider-man */
