@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{
    --font-main: 'Michroma', sans-serif;
    --font-support: 'Raleway', sans-serif;
    --text-color-main: rgb(240, 240, 240);
    --text-color-suppotr: rgba(240, 240, 240, 0.7);
    /* f0f0f0 */
    --ironman-color: rgb(249, 32, 49);
    /* #f92031*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: var(--text-color-main);
    background-image: url(ironman-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* start nav menu */

.menu{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem 15rem;
    border-bottom: 1px solid var(--text-color-suppotr);
}

.menu-logo{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 10px 15px;
}

.menu-container img{
    width: 30px;
}

.menu-container-1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-container-2{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 18px 15px;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
}

/* end  nav menu */

main{
    display: grid;
    grid-template-columns: 62px 1100px 114px;
    justify-content: center;
    padding: 68px;
}

/* start nav social */

.socail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 1rem; 
}

/* end nav social */


/* history start */
/* card-1 start */

.card-1{
    display: grid;
    grid-template-columns: 700px auto;
}

.container{
    border: 1px solid var(--text-color-suppotr);
    padding: 5px;
    color: var(--text-color-main);
    font-family: var(--font-main);
}

.container h3{
    text-align: center;
    font-size: 18px;
}

.container h4{
    text-align: center;
    font-size: 12px;
}

.img{
    text-align: center;
    padding: 5px 0;
}

.container h5{
    font-size: 12px;
}

.container h5 a{
    text-decoration: none;
    color: var(--ironman-color);
}

.container h6{
    font-size: 14px;
    color: var(--ironman-color);
    border-top: 1px  solid var(--text-color-suppotr);
    background-color: var(--text-color-suppotr);
    text-align: center;
    padding: 3px 0;
}

.container th{
    width: 140px;
    font-size: 14px;
    text-align: start;
    border-top: 1px  solid var(--text-color-suppotr);
    border-bottom: 1px  solid var(--text-color-suppotr);
}

.container td{
    font-size: 14px;
    text-align: start;
    border-top: 1px  solid var(--text-color-suppotr);
    border-bottom: 1px  solid var(--text-color-suppotr);
}

.container li{
    list-style: none;
}

.container a{
    text-decoration: none;
    color: var(--ironman-color);
}

.flag{
    width: 26px;
}

.info h1{
    font-family: var(--font-main);
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.info p{
    font-family: var(--font-support);
    font-size: 20px;
    padding-bottom: 16px;
    padding-right: 10px;

}

.info a{
    text-decoration: none;
    color: var(--ironman-color);
}

.quotes-1{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px;
    padding: 10px;
}

.quotes-1 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-p-2{
    text-align: right;
}

.quotes-2{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px;
    padding: 10px;
}

.quotes-2 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-2 img{
    width: 320px;
}

.quotes-3{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--text-color-suppotr);
    margin: 8px 8px 0 8px; 
    padding: 10px;
}

.quotes-3 p{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.quotes-p-3{
    text-align: right;
}

.quotes-3 img{
    width: 320px;
    padding-top: 30px;
}

/* card-1 end */
/* card-2 start */



/* card-2 end */
/* history eng */


/* scroll-iron start */

.scroll-iron-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-iron-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    border-bottom: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-iron-man-1{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-iron-man-1:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-iron-man-2{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-iron-man-2:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-iron-man-3{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-iron-man-3:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-iron-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-iron-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* scroll-iron end */