@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{
    --font-main: 'Michroma', sans-serif;
    --font-support: 'Raleway', sans-serif;
    --text-color-main: rgb(240, 240, 240);
    --text-color-suppotr: rgba(240, 240, 240, 0.7);
    /* f0f0f0 */
    --ironman-color: rgb(249, 32, 49);
    /* #f92031*/
    --thor-color: rgb(117, 0, 35);
    /* #ab0033 */
    --star-lord-color-1: rgb(228, 94, 49);
    /* #e45e31 */
    --star-lord-color-2: rgb(124, 47, 189);
    /* #7c2fbd */
    --spider-man-color: rgb(249, 15, 40);
    /* #f90f28 */
    --hulk-color: rgb(14, 188, 29);
    /* #0ebc1d */
    --captain-america-color: rgb(36, 86, 178);
    /* #2456b2 */
    --widow-black-color: rgb(216, 169, 18);
    /* #d8a912 */
    --hawkeye-color: rgb(99, 17, 108);
    /* #63116c */
    --captain-marvel-color:rgb(127, 13, 2);
    /* #7f0d02 */
    --ant-man-color:rgb(98, 107, 124);
    /* #626b7c */
    --loki-color:rgb(38, 166, 47);
    /* #26a62f */
    --wanda-color: rgb(252, 9, 41);
    /* #fc0929 */
    --vision-color:rgb(58, 20, 31);
    /* #3a141f */
    --panther-black-color:rgb(24, 24, 24);
    /* #181818 */
    --doctor-strange-color:rgb(255, 10, 56);
    /* #ff0a38 */
    --wasp-color:rgb(200, 180, 66);
    /* #c8b442 */
    --shang-chi-color:rgb(53, 7, 7);
    /* #350707 */
    --groot-color:rgb(124, 225, 69);
    /* #7ce145 */
    --rocket-color:rgb(130, 100, 50);
    /* #463e31 */
    --gamora-colot:rgb(58, 87, 88);
    /* #3a5758 */
    --drax-color:rgb(86, 51, 54);
    /* #563336 */
    --mantis-color:rgb(120, 153, 75);
    /* #78994b */
    --nebula-color:rgb(140, 220, 225);
    /* #aaf8ff */
    --bucky-barnes-color:rgb(181, 189, 192);
    /* #b5bdc0 */
    --falcon-color:rgb(78, 102, 162);
    /* #4e66a2 */
    --war-machine-color:rgb(33, 33, 33);
    /* #212121 */
    --wong-color:rgb(220, 67, 49);
    /* #dc4331 */
    --mysterio-color:rgb(46, 98, 62);
    /* #2e623e */
    --otto-octavius-color:rgb(55, 140, 72);
    /* #378c48 */
    --green-goblin-color:rgb(40, 54, 36);
    /* #283624 */
    --hela-color:rgb(35, 40, 39);
    /* #232827 */
    --mighty-thor-color:rgb(217, 220, 227);
    /* #d9dce3 */
    --odin-color:rgb(243, 231, 194);
    /* #f3e7c2 */
    --thanos-color:rgb(106, 61, 100);
    /* #6a3d64 */
    --valkyrie-color:rgb(155, 167, 161);
    /* #9ba7a1 */
    --daredevil-color:rgb(60, 39, 56);
    /* #3c2738 */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: var(--text-color-main);
}

/* start nav menu */

.menu{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem 14rem;
    border-bottom: 1px solid var(--text-color-suppotr);
}

.menu-logo{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 10px 15px;
}

.menu-container img{
    width: 30px;
}

.menu-container-1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-container-2{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 18px 15px;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    font-family: var(--font-main);
}

/* end  nav menu */

main{
    display: grid;
    grid-template-columns: 62px 260px 950px;
    justify-content: center;
    padding: 68px;
}

/* start nav social */

.socail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 16px;
    gap: 1rem; 
    position: fixed;
    z-index: 1;
}

.social-scroll{
    display: flex;
    flex-direction: column;
    margin-top: 27rem;
    position: fixed;
    z-index: 1;
}

.social-scroll img{
    background-color: var(--ironman-color);
    padding: 10px 18px;
}

.social-scroll h1{
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    letter-spacing: 5px;
    font-family: var(--font-main);
    font-weight: 200;
}

/* end nav social */

/* start nav scroll */

.scroll{
    display: flex;
    flex-direction: column;
}

.scroll img{
    width: 250px;
}

.scroll-card{
    border-left: 5px solid black;
}

.scroll-card-iron-man{
    background-image: url(bg/ironman-card.jpg);
    background-size: cover;
}

.scroll-card-iron-man:hover{
    border-left: 5px solid var(--ironman-color);
    box-shadow: inset 44px 0px 29px -12px rgba(249, 32, 49, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-thor{
    background-image: url(bg/thor-card.jpg);
    background-size: cover;
}

.scroll-card-thor:hover{
    border-left: 5px solid var(--thor-color);
    box-shadow: inset 44px 0px 29px -12px rgba(117, 0, 35, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-star-lold{
    background-image: url(bg/starlord-card.jpg);
    background-size: cover;
}

.scroll-card-star-lold:hover{
    border-left: 5px solid var(--star-lord-color-1);
    box-shadow: inset 44px 0px 29px -12px rgba(228, 94, 49, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-spider-man{
    background-image: url(bg/spiderman-card.jpg);
    background-size: cover;
}

.scroll-card-spider-man:hover{
    border-left: 5px solid var(--spider-man-color);
    box-shadow: inset 44px 0px 29px -12px rgba(249, 15, 40, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-hulk{
    background-image: url(bg/hulk-card.jpg);
    background-size: cover;
}

.scroll-card-hulk:hover{
    border-left: 5px solid var(--hulk-color);
    box-shadow: inset 44px 0px 29px -12px rgba(14, 188, 29, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-captain-america{
    background-image: url(bg/captain-america.jpg);
    background-size: cover;
}

.scroll-card-captain-america:hover{
    border-left: 5px solid var(--captain-america-color);
    box-shadow: inset 44px 0px 29px -12px rgba(36, 86, 178, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-black-widow{
    background-image: url(bg/black-widow-card.jpg);
    background-size: cover;
}

.scroll-card-black-widow:hover{
    border-left: 5px solid var(--widow-black-color);
    box-shadow: inset 44px 0px 29px -12px rgba(216, 169, 18, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-hawkeye{
    background-image: url(bg/hawkeye-card.jpg);
    background-size: cover;
}

.scroll-card-hawkeye:hover{
    border-left: 5px solid var(--hawkeye-color);
    box-shadow: inset 44px 0px 29px -12px rgba(99, 17, 108, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-captain-marvel{
    background-image: url(bg/captain-marvel.jpg);
    background-size: cover;
}

.scroll-card-captain-marvel:hover{
    border-left: 5px solid var(--captain-marvel-color);
    box-shadow: inset 44px 0px 29px -12px rgba(127, 13, 2, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-ant-man{
    background-image: url(bg/ant-man-card.jpg);
    background-size: cover;
}

.scroll-card-ant-man:hover{
    border-left: 5px solid var(--ant-man-color);
    box-shadow: inset 44px 0px 29px -12px rgba(98, 107, 124, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-loki{
    background-image: url(bg/loki-card.jpg);
    background-size: cover;
}

.scroll-card-loki:hover{
    border-left: 5px solid var(--loki-color);
    box-shadow: inset 44px 0px 29px -12px rgba(38, 166, 47, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-wanda{
    background-image: url(bg/wanda-card.jpg);
    background-size: cover;
}

.scroll-card-wanda:hover{
    border-left: 5px solid var(--wanda-color);
    box-shadow: inset 44px 0px 29px -12px rgba(252, 9, 41, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-vision{
    background-image: url(bg/vision-card.jpg);
    background-size: cover;
}

.scroll-card-vision:hover{
    border-left: 5px solid var(--vision-color);
    box-shadow: inset 44px 0px 29px -12px rgba(58, 20, 31, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-black-panther{
    background-image: url(bg/black-panther-card.jpg);
    background-size: cover;
}

.scroll-card-black-panther:hover{
    border-left: 5px solid var(--panther-black-color);
    box-shadow: inset 44px 0px 29px -12px rgba(24, 24, 24, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-doctor-strange{
    background-image: url(bg/doctor-strange-card.jpg);
    background-size: cover;
}

.scroll-card-doctor-strange:hover{
    border-left: 5px solid var(--doctor-strange-color);
    box-shadow: inset 44px 0px 29px -12px rgba(255, 10, 56, 0.5);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-wasp{
    background-image: url(bg/wasp-card.jpg);
    background-size: cover;
}

.scroll-card-wasp:hover{
    border-left: 5px solid var(--wasp-color);
    box-shadow: inset 44px 0px 29px -12px rgba(200, 180, 66, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-shang-chi{
    background-image: url(bg/shang-chi-card.jpg);
    background-size: cover;
}

.scroll-card-shang-chi:hover{
    border-left: 5px solid var(--shang-chi-color);
    box-shadow: inset 44px 0px 29px -12px rgba(53, 7, 7, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-groot{
    background-image: url(bg/groot-card.jpg);
    background-size: cover;
}

.scroll-card-groot:hover{
    border-left: 5px solid var(--groot-color);
    box-shadow: inset 44px 0px 29px -12px rgba(124, 225, 66, 0.4);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-rocket{
    background-image: url(bg/rocket-card.png);
    background-size: cover;
}

.scroll-card-rocket:hover{
    border-left: 5px solid var(--rocket-color);
    box-shadow: inset 44px 0px 29px -12px rgba(130, 100, 50, 0.8);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-gamora{
    background-image: url(bg/gamora-card.png);
    background-size: cover;
}

.scroll-card-gamora:hover{
    border-left: 5px solid var(--gamora-colot);
    box-shadow: inset 44px 0px 29px -12px rgba(58, 87, 88, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-drax{
    background-image: url(bg/drax-card.jpg);
    background-size: cover;
}

.scroll-card-drax:hover{
    border-left: 5px solid var(--drax-color);
    box-shadow: inset 44px 0px 29px -12px rgba(86, 51, 54, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-mantis{
    background-image: url(bg/mantis-card.jpg);
    background-size: cover;
}

.scroll-card-mantis:hover{
    border-left: 5px solid var(--mantis-color);
    box-shadow: inset 44px 0px 29px -12px rgba(120, 153, 75, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-nebula{
    background-image: url(bg/nebula-card.jpg);
    background-size: cover;
}

.scroll-card-nebula:hover{
    border-left: 5px solid var(--nebula-color);
    box-shadow: inset 44px 0px 29px -12px rgba(140, 220, 225, 0.4);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-bucky-barnes{
    background-image: url(bg/bucky-barnes-card.jpg);
    background-size: cover;
}

.scroll-card-bucky-barnes:hover{
    border-left: 5px solid var(--bucky-barnes-color);
    box-shadow: inset 44px 0px 29px -12px rgba(181, 189, 192, 0.4);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-falcon{
    background-image: url(bg/faicon-card.jpg);
    background-size: cover;
}

.scroll-card-falcon:hover{
    border-left: 5px solid var(--falcon-color);
    box-shadow: inset 44px 0px 29px -12px rgba(78, 102, 162, 0.4);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-war-machine{
    background-image: url(bg/war-machine-card.jpg);
    background-size: cover;
}

.scroll-card-war-machine:hover{
    border-left: 5px solid var(--war-machine-color);
    box-shadow: inset 44px 0px 29px -12px rgba(33, 33, 33, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-wong{
    background-image: url(bg/wong-card.jpg);
    background-size: cover;
}

.scroll-card-wong:hover{
    border-left: 5px solid var(--wong-color);
    box-shadow: inset 44px 0px 29px -12px rgba(220, 67, 49, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-mysterio{
    background-image: url(bg/mysterio-card.jpg);
    background-size: cover;
}

.scroll-card-mysterio:hover{
    border-left: 5px solid var(--mysterio-color);
    box-shadow: inset 44px 0px 29px -12px rgba(46, 98, 62, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-otto-octavius{
    background-image: url(bg/otto-octavius-card.jpg);
    background-size: cover;
}

.scroll-card-otto-octavius:hover{
    border-left: 5px solid var(--otto-octavius-color);
    box-shadow: inset 44px 0px 29px -12px rgba(55, 140, 72, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-green-goblin{
    background-image: url(bg/green-goblin-card.jpg);
    background-size: cover;
}

.scroll-card-green-goblin:hover{
    border-left: 5px solid var(--green-goblin-color);
    box-shadow: inset 44px 0px 29px -12px rgba(40, 54, 36, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-hela{
    background-image: url(bg/hela-card.jpg);
    background-size: cover;
}

.scroll-card-hela:hover{
    border-left: 5px solid var(--hela-color);
    box-shadow: inset 44px 0px 29px -12px rgba(35, 40, 39, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-mighty-thor{
    background-image: url(bg/mighty-thor-card.jpg);
    background-size: cover;
}

.scroll-card-mighty-thor:hover{
    border-left: 5px solid var(--mighty-thor-color);
    box-shadow: inset 44px 0px 29px -12px rgba(217, 220, 227, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-odin{
    background-image: url(bg/odin-card.jpg);
    background-size: cover;
}

.scroll-card-odin:hover{
    border-left: 5px solid var(--odin-color);
    box-shadow: inset 44px 0px 29px -12px rgba(243, 231, 194, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-thanos{
    background-image: url(bg/thanos-card.jpg);
    background-size: cover;
}

.scroll-card-thanos:hover{
    border-left: 5px solid var(--thanos-color);
    box-shadow: inset 44px 0px 29px -12px rgba(106, 61, 100, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-valkyrie{
    background-image: url(bg/valkyrie-card.jpg);
    background-size: cover;
}

.scroll-card-valkyrie:hover{
    border-left: 5px solid var(--valkyrie-color);
    box-shadow: inset 44px 0px 29px -12px rgba(155, 167, 161, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-daredevil{
    background-image: url(bg/daredevil-card.jpg);
    background-size: cover;
}

.scroll-card-daredevile:hover{
    border-left: 5px solid var(--daredevil-color);
    box-shadow: inset 44px 0px 29px -12px rgba(60, 39, 56, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card a{
    text-decoration: none;
    color: var(--text-color-main);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.scroll-card h2{
    font-weight: 700;
    padding: 15px 10px;
    font-size: 14px;
    font-family: var(--font-main);
}

/* end nav scroll */

/* start iron mam */

.ironman{
    background-image: url(bg/bg/ironman-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: 840px 114px;
}

.container-iron-man{
    display: grid;
    grid-column: auto auto;
}

.iron1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.iron2{
    grid-row: 2;
}

.iron3{
    grid-row: 2;
}

.info-iron-man-1{
    padding: 50px 20px 30px 30px;
}

.info-iron-man-1 h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--ironman-color);
    font-family: var(--font-main);
    width: 355px;
}

.info-iron-man-1 p{
    font-size: 18px;
    padding-top: 10px;
    font-family: var(--font-support);
}

.info-iron-man-2{
    padding: 0px 20px 50px 30px;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 235px 235px;
    justify-content: center;
    align-items: center;
}

.iron-img-1{
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 270px;
    border: 2px solid var(--text-color-suppotr);
}

.iron-img-2{
    grid-column: 1;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.iron-img-3{
    grid-column: 2;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.png-iron-man img{
    width: 315px;
}

.scroll-iron-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-iron-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-iron-man-1{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-iron-man-1:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-iron-man-2{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-iron-man-2:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-iron-man-3{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-iron-man-3:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-iron-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-iron-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* end iron man */
/* start thor */

.thor{
    background-image: url(bg/bg/thor-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: 840px 114px;
}

.container-thor{
    display: grid;
    grid-row: auto auto;
}


.thor1{
    grid-column: 1;
}

.thor2{
    grid-column: 1;
}

.thor3 {
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-top: 8rem;
}

.info-thor-1{
    padding: 50px 20px 30px 30px;
}

.info-thor-1 h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--font-main);
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--thor-color);
}

.info-thor-1 p{
    font-size: 18px;
    padding-top: 10px;
    font-family: var(--font-support);
}

.info-thor-2{
    padding: 10px 20px 50px 30px;
}

.info-thor-2 p{
    font-size: 20px;
}

.info-thor-2 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    padding: 5px 100px 5px 5px;
    border: 1px solid var(--text-color-main);
}

.info-thor-2 p{
    margin-bottom: 30px;
}

.info-thor-2{
    padding: 0px 20px 50px 30px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.thor-img-1{
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.thor-img-2{
    grid-column: 1;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.thor-img-3{
    grid-column: 2;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.png-thor img{
    width: 280px;
    margin-top: 78px;
}

.scroll-thor{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-thor a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-thor-1{
    background-color: rgba(117, 0, 35, 0.5);
}

.scroll-thor-1:hover{
    background-color: var(--thor-color);
    transition: 0.8s;
}

.scroll-thor-2{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,0.7) 12%, rgba(2,22,47,0.7) 93%);
}

.scroll-thor-2:hover{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,1) 12%, rgba(2,22,47,1) 93%);
    transition: 0.8s;
}

.scroll-thor-3{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,0.7) 16%, rgba(5,34,60,0.7) 69%);
}

.scroll-thor-3:hover{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,1) 16%, rgba(5,34,60,1) 69%);
    transition: 0.8s;
}

.scroll-thor-4{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,0.7) 34%, rgba(0,21,31,0.7) 81%);
}

.scroll-thorn-4:hover{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,1) 34%, rgba(0,21,31,1) 81%);
    transition: 0.8s;
}

/* end thor */

/* start spiderman */

.spiderman{
    background-image: url(bg/bg/ironman-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: 840px 114px;
}

.container-spider-man{
    display: grid;
    grid-column: auto auto;
}

.spider-man-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.spider-man-1{
    grid-row: 1;
}

.spider-man-1{
    grid-row: 1;
}

.info-spider-man-1{
    padding: 50px 20px 30px 30px;
}

.info-spider-man-1 h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--ironman-color);
    font-family: var(--font-main);
}

.info-spider-man-1 p{
    font-size: 18px;
    padding-top: 10px;
    font-family: var(--font-support);
}

.info-spider-man-2{
    padding: 0px 20px 50px 30px;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 235px 235px;
    justify-content: center;
    align-items: center;
}

.spider-man-img-1{
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 270px;
    border: 2px solid var(--text-color-suppotr);
}

.spider-man-img-2{
    grid-column: 1;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.spider-man-img-3{
    grid-column: 2;
    width: 230px;
    border: 2px solid var(--text-color-suppotr);
}

.png-spider-man img{
    width: 315px;
}

.scroll-spider-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-spider-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 30px 39px;
}

.scroll-spider-man-1{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-spider-man-1:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-spider-man-2{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-spider-man-2:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-spider-man-3{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-spider-man-3:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-spider-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-spider-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* end iron man */

/* end spider-man */