@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@500&family=Inconsolata:wght@500&family=Montserrat:wght@200&family=Oswald:wght@400;500;600;700&family=Phudu:wght@300&family=Playfair+Display:wght@400;500&family=Raleway:wght@100&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,300&family=Source+Code+Pro:wght@300&family=Teko:wght@600&family=Tilt+Prism&family=Ubuntu:wght@400;500&display=swap');
:root{
    --text-color-main: rgb(240, 240, 240);
    --text-color-suppotr: rgba(240, 240, 240, 0.7);
    /* f0f0f0 */
    --ironman-color: rgb(249, 32, 49);
    /* #f92031*/
    --thor-color: rgb(117, 0, 35);
    /* #ab0033 */
    --star-lord-color-1: rgb(228, 94, 49);
    /* #e45e31 */
    --star-lord-color-2: rgb(124, 47, 189);
    /* #7c2fbd */
    --spider-man-color: rgb(249, 15, 40);
    /* #f90f28 */
    --hulk-color: rgb(14, 188, 29);
    /* #0ebc1d */
    --captain-america-color: rgb(36, 86, 178);
    /* #2456b2 */
    --widow-black-color: rgb(216, 169, 18);
    /* #d8a912 */
    --hawkeye-color: rgb(99, 17, 108);
    /* #63116c */
    --captain-marvel-color:rgb(127, 13, 2);
    /* #7f0d02 */
    --ant-man-color:rgb(98, 107, 124);
    /* #626b7c */
    --loki-color:rgb(38, 166, 47);
    /* #26a62f */
    --vision-color:rgb(58, 20, 31);
    /* #3a141f */
    --panther-black-color:rgb(24, 24, 24);
    /* #181818 */
    --doctor-strange:rgb(255, 10, 56);
    /* #ff0a38 */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: var(--text-color-main);
}

/* start nav menu */

.menu{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem 15rem;
    border-bottom: 1px solid var(--text-color-suppotr);
    /* position: fixed;
    top: 0; */
}

.menu-logo{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 10px 15px;
}

.menu-container img{
    width: 30px;
}

.menu-container-1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-container-2{
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 18px 15px;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 22px;
    font-family: 'Akatab', sans-serif;
}


/* end  nav menu */

main{
    display: grid;
    grid-template-columns: 60px 260px 830px;
    justify-content: center;
    padding: 68px;
}

/* start nav social */

.socail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 18px;
    gap: 1rem; 
    position: fixed;
    z-index: 1;
}

.social-scroll{
    display: flex;
    flex-direction: column;
    margin-top: 28rem;
    position: fixed;
    z-index: 1;
}

.social-scroll img{
    background-color: var(--ironman-color);
    padding: 10px 18px;
}

.social-scroll h1{
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    letter-spacing: 5px;
    font-family: 'Akatab', sans-serif;
    font-weight: 200;
}

/* end nav social */

/* start nav scroll */

.scroll{
    display: flex;
    flex-direction: column;
}

.scroll img{
    width: 250px;
}

.scroll-card{
    border-left: 5px solid black;
}

.scroll-card-iron-man{
    background-image: url(bg/ironman-card.jpg);
    background-size: cover;
}

.scroll-card h2{
    padding: 50px;
}

.scroll-card-iron-man:hover{
    border-left: 5px solid var(--ironman-color);
    box-shadow: inset 44px 0px 29px -12px rgba(249, 32, 49, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-thor{
    background-image: url(bg/thor-card.jpg);
    background-size: cover;
}

.scroll-card-thor:hover{
    border-left: 5px solid var(--thor-color);
    box-shadow: inset 44px 0px 29px -12px rgba(117, 0, 35, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-star-lold{
    background-image: url(bg/starlord-card.jpg);
    background-size: cover;
}

.scroll-card-star-lold:hover{
    border-left: 5px solid var(--star-lord-color-1);
    box-shadow: inset 44px 0px 29px -12px rgba(228, 94, 49, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-spider-man{
    background-image: url(bg/spiderman-card.jpg);
    background-size: cover;
}

.scroll-card-spider-man:hover{
    border-left: 5px solid var(--spider-man-color);
    box-shadow: inset 44px 0px 29px -12px rgba(249, 15, 40, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-hulk{
    background-image: url(bg/hulk-card.jpg);
    background-size: cover;
}

.scroll-card-hulk:hover{
    border-left: 5px solid var(--hulk-color);
    box-shadow: inset 44px 0px 29px -12px rgba(14, 188, 29, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-captain-america{
    background-image: url(bg/captain-america.jpg);
    background-size: cover;
}

.scroll-card-captain-america:hover{
    border-left: 5px solid var(--captain-america-color);
    box-shadow: inset 44px 0px 29px -12px rgba(36, 86, 178, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-black-widow{
    background-image: url(bg/black-widow-card.jpg);
    background-size: cover;
}

.scroll-card-black-widow:hover{
    border-left: 5px solid var(--widow-black-color);
    box-shadow: inset 44px 0px 29px -12px rgba(216, 169, 18, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-hawkeye{
    background-image: url(bg/hawkeye-card.jpg);
    background-size: cover;
}

.scroll-card-hawkeye:hover{
    border-left: 5px solid var(--hawkeye-color);
    box-shadow: inset 44px 0px 29px -12px rgba(99, 17, 108, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-captain-marvel{
    background-image: url(bg/captain-marvel.jpg);
    background-size: cover;
}

.scroll-card-captain-marvel:hover{
    border-left: 5px solid var(--captain-marvel-color);
    box-shadow: inset 44px 0px 29px -12px rgba(127, 13, 2, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-ant-man{
    background-image: url(bg/ant-man-card.jpg);
    background-size: cover;
}

.scroll-card-ant-man:hover{
    border-left: 5px solid var(--ant-man-color);
    box-shadow: inset 44px 0px 29px -12px rgba(98, 107, 124, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-loki{
    background-image: url(bg/loki-card.jpg);
    background-size: cover;
}

.scroll-card-loki:hover{
    border-left: 5px solid var(--loki-color);
    box-shadow: inset 44px 0px 29px -12px rgba(38, 166, 47, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-vision{
    background-image: url(bg/vision-card.jpg);
    background-size: cover;
}

.scroll-card-vision:hover{
    border-left: 5px solid var(--vision-color);
    box-shadow: inset 44px 0px 29px -12px rgba(58, 20, 31, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-black-panther{
    background-image: url(bg/black-panther-card.jpg);
    background-size: cover;
}

.scroll-card-black-panther:hover{
    border-left: 5px solid var(--panther-black-color);
    box-shadow: inset 44px 0px 29px -12px rgba(24, 24, 24, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card-doctor-strange{
    background-image: url(bg/doctor-strange-card.jpg);
    background-size: cover;
}

.scroll-card-doctor-strange:hover{
    border-left: 5px solid var(--doctor-strange);
    box-shadow: inset 44px 0px 29px -12px rgba(255, 10, 56, 0.6);
    height: 140px;
    transition: 0.8s;
}

.scroll-card a{
    text-decoration: none;
    color: var(--text-color-main);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.scroll-card h2{
    font-weight: 100;
    padding: 10px;
    font-size: 20px;
    /* margin-top: -52px; */
    font-family: 'Akatab', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Teko', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Ubuntu', sans-serif;
}

/* end nav scroll */

/* start iron mam */

.ironman{
    background-image: url(ironman-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: 735px auto;
}

.container-iron-man{
    display: grid;
    grid-column: auto auto;
}

.iron1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.iron2{
    grid-row: 2;
}

.iron3{
    grid-row: 2;
}

.info-iron-man-1{
    padding: 50px 20px 30px 30px;
}

.info-iron-man-1 h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--ironman-color);
    width: 355px;
}

.info-iron-man-1 p{
    font-size: 20px;
    padding-top: 10px;
}

.info-iron-man-2{
    padding: 10px 20px 50px 30px;
}

.info-iron-man-2 p{
    font-size: 20px;
}

.info-iron-man-2 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    padding: 5px 100px 5px 5px;
    border: 1px solid var(--text-color-main);
}

.info-iron-man-2 p{
    margin-bottom: 30px;
}

.png-iron-man img{
    width: 315px;
}

.scroll-iron-man{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-iron-man a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: 'Akatab', sans-serif;
    letter-spacing: 3px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 46px 30px;
}

.scroll-iron-man-1{
    background-color: rgba(249, 32, 49, 0.5);
}

.scroll-iron-man-1:hover{
    background-color: var(--ironman-color);
    transition: 0.8s;
}

.scroll-iron-man-2{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 0.7) 47%, rgba(15, 1, 117, 0.6) 83%);
}

.scroll-iron-man-2:hover{
    background: rgb(91,3,150);
    background: radial-gradient(circle, rgba(55, 2, 90, 1) 47%, rgba(15, 1, 117, 1) 83%);
    transition: 0.8s;
}

.scroll-iron-man-3{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 0.8) 36%, rgba(10, 1, 71, 0.8) 89%);
}

.scroll-iron-man-3:hover{
    background: rgb(50,12,54);
    background: radial-gradient(circle, rgba(50, 12, 54, 1) 36%, rgba(10, 1, 71, 1) 89%);
    transition: 0.8s;
}

.scroll-iron-man-4{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 0.6) 27%, rgba(8 ,0 ,59 , 0.8) 96%);
}

.scroll-iron-man-4:hover{
    background: rgb(64,30,39);
    background: radial-gradient(circle, rgba(64 ,30 ,39 , 1) 27%, rgba(8 ,0 ,59 , 1) 96%);
    transition: 0.8s;
}

/* end iron man */

/* start thor */

.thor{
    background-image: url(thor-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: 735px auto;
}

.container-thor{
    display: grid;
    grid-row: auto auto;
}


.thor1{
    grid-column: 1;
}

.thor2{
    grid-column: 1;
}

.thor3 {
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-top: 8rem;
}

.info-thor-1{
    padding: 50px 20px 30px 30px;
}

.info-thor-1 h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--thor-color);
}

.info-thor-1 p{
    font-size: 20px;
    padding-top: 10px;
}

.info-thor-2{
    padding: 10px 20px 50px 30px;
}

.info-thor-2 p{
    font-size: 20px;
}

.info-thor-2 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
    padding: 5px 100px 5px 5px;
    border: 1px solid var(--text-color-main);
}

.info-thor-2 p{
    margin-bottom: 30px;
}

.png-thor img{
    width: 330px;
}

.scroll-thor{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.scroll-thor a{
    text-decoration: none;
    color: var(--text-color-main);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-family: 'Akatab', sans-serif;
    letter-spacing: 3px;
    border-left: 1px solid var(--text-color-suppotr);
    border-right: 1px solid var(--text-color-suppotr);
    padding: 46px 30px;
}

.scroll-thor-1{
    background-color: rgba(117, 0, 35, 0.5);
}

.scroll-thor-1:hover{
    background-color: var(--thor-color);
    transition: 0.8s;
}

.scroll-thor-2{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,0.7) 12%, rgba(2,22,47,0.7) 93%);
}

.scroll-thor-2:hover{
    background: rgb(60,65,65);
    background: radial-gradient(circle, rgba(60,65,65,1) 12%, rgba(2,22,47,1) 93%);
    transition: 0.8s;
}

.scroll-thor-3{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,0.7) 16%, rgba(5,34,60,0.7) 69%);
}

.scroll-thor-3:hover{
    background: rgb(72,82,82);
    background: radial-gradient(circle, rgba(72,82,82,1) 16%, rgba(5,34,60,1) 69%);
    transition: 0.8s;
}

.scroll-thor-4{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,0.7) 34%, rgba(0,21,31,0.7) 81%);
}

.scroll-thorn-4:hover{
    background: rgb(52,54,54);
    background: radial-gradient(circle, rgba(52,54,54,1) 34%, rgba(0,21,31,1) 81%);
    transition: 0.8s;
}

/* end thor */